[Unit]
Description=Chat GPT for Unix Domain Socket
After=network.target

[Service]
Type=simple
User=gptforuds
EnvironmentFile=/etc/gpt-for-uds/gpt-for-uds.conf
ExecStart=/usr/bin/gpt-for-uds -f ${SOCKET_FILE} -t ${GPT_TOKEN}
Restart=on-failure

[Install]
WantedBy=multi-user.target
